.product-details
{
    margin-top: 80px;
}
.product-details-content-img1 img
{
 margin-bottom: 32px;
 margin-left: 20px;
 width:70%;
 height: 50%;
}
.product-details-content-img2 img
{
    height: auto;
    width: 100%;
}

.product-details-content-list
{
    list-style: none;
}
.product-details-content-text1 h2
{
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 27px;
display: flex;
align-items: center;
color: #1D1F22;
margin-bottom: 16px;
margin-left: 12px;
}
.product-details-content-text1 p
{
width: 292px;
height: 27px;
left: 929px;
top: 203px;
font-family: 'Raleway';
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 27px;
display: flex;
align-items: center;
color: #1D1F22;
margin-bottom: 43px;
margin-left: 12px;
}
.product-details-content-list h1
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D1F22;
    width: 38px;
    text-transform: uppercase;
    margin-left: 12px;
}
.product-details-content-size
{
    display: flex;
}
.product-details-content-size div
{
    width: 63px;
    height: 45px;
    top: 299px;
    border: 1px solid #A6A6A6;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    padding:12px 27px 14px 27px;

     
}

.product-details-content-size div a
{
width: 12px;
height: 18px;
font-family:'Raleway';
font-style: normal;
font-weight:700px;
font-size: 16px;
line-height: 18px;
text-align: center;
letter-spacing: 0.05em;
color: #292929;
text-decoration: none;
}
.product-details-content-size .active
{
 background-color:#1D1F22;
}
.product-details-content-size .active a
{
    color:#FFFFFF;
}
.product-details-content-price
{
    margin-top: 40px;
}
.product-details-content-price h3
{
font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
margin-left: 12px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #1D1F22;
}
.product-details-content-price span
{
margin-top: 15px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 18px;
color: #1D1F22;
}
.product-details-content-text3
{
    
    margin-bottom:72px;
}
.product-details-content-text3 a
{
    margin-top: 24px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    width: 292px;
    height: 52px;
    left: 929px;
    top: 478px;
    background: #5ECE7B;
    font-family: 'Raleway';
   font-style: normal;
  font-weight: 600;
font-size: 16px;
line-height: 120%;
color: #FFFFFF;
text-transform: uppercase;
}
.product-details-content-text3 a:hover
{
    background: #5ECE7B;
    color: #FFFFFF;
}
.product-details-content-text3 p
{
    margin-left: 12px;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 159.96%;
}